<link href="https://cdn.bootcss.com/aplayer/1.10.1/APlayer.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/aplayer/1.10.1/APlayer.min.js"></script>
<div id="aplayer"></div>
<script>

    let ap = new APlayer ({
                element: document.getElementById('aplayer'),
                // fixed:true,
                mini: false,
                autoplay: false,
                showlrc: true,
                theme: '#ff9900',
                loop: 'all',
                order: 'random',
                preload: 'auto',
                volume: 0.7,
                mutex: false,
                listFolded: false,
                listMaxHeight: 90,
                lrcType: 3,
                music:
                    [{
                        'title': '{{ .Get "title" }}',
                        'author': '{{ .Get "author" }}',
                        'url': '{{ .Get "audio" }}',
                        'pic': '{{ .Get "pic" }}',
                        'lrc': '{{ .Get "lrc" }}' 
                    }] 
            });
</script>
